.container{
    height: 660px;
    width: 420px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
background-color: rgba(73,60,49,0.9)
}

.upper-part{
  height: 250px;
  width: 300px;
  position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eae9e5;
    color: #1ba6b5;
}
.middle-part {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}
.middle-part h1{
    display: inline-block;
}
hr{
    margin-top: 380px;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 1px dashed white;
}

.left-part{
    text-align: center;
    margin-left:40px;
    float: left;
}
.right-part{
    text-align: center;
    margin-right: 40px;
    float: right;
}
.first-part button{
    width: 45%;
    background-color: black;
    color: white;
}
.second-part{
    position: fixed;
    top:85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    display: flex;
}
#pause{
    display: block;
    margin-left: 45px;
    margin-right: auto;
    width: 20%;
    height: 30px;
    background-color: black;
    color: white;
}
#reset{

    display: block;
    margin-left: 135px;
    margin-right: auto;
    width: 20%;
    height: 30px;
    background-color: black;
    color: white;
}
#start{
    width: 40%;
    height: 5%;
    position: fixed;
    top:95%;
    left: 50%;
    transform: translate(-50%, -50%);
   background-color:  blanchedalmond;

}


#breakTime-minutes{
    display: inline-block;
}
#breakTime-seconds{
    display: inline-block;
}
#startTime-minutes{
    display: inline-block;
}
#startTime-seconds{
    display: inline-block;
}
h2{
    padding:0px ;
    margin: 0px;
}

#minutes{
    display: inline-block;
    margin-left: 100px;
    margin-top: 100px;

}
#seconds{
    display: inline-block;
}
#colon{
    display: inline-block;
}
